.register-heading{
text-align: center;
text-transform: uppercase;
margin-top: 20px;
}
.form-input{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.form-input input{
width: 400px;
padding: 8px;
margin: 20px 0 2px 0;
}
.form-input button{
width: 400px;
margin-top: 10px;
padding: 4px;
font-size: 22px;
font-weight: 600;
background-color: purple;
color: #fff;
}